

<FluentButton BackgroundColor="var(--neutral-layer-4)" Title="Friends" id="myPopoverButtonH" Appearance="Appearance.Accent" @onclick="() => _visibleL = !_visibleL">
    <FluentIcon Value="@(new Icons.Regular.Size20.PeopleAudience())" Color="Color.Neutral" Title="Friends" />
</FluentButton>
    

<FluentPopover Style="width: 300px; box-shadow: 10px 10px #434768; border-radius: 10px;" AnchorId="myPopoverButtonH" @bind-Open="_visibleL" AutoFocus="false">
        <Header>Friends Online: @friendList.Count</Header>
        <Body>
        @foreach (var friend in friendList.OrderByDescending(a => a.Status))
        {
            <a class="dropdown-item" href="#">@friend.Username - @friend.Status <span class="dot-@(friend.Status)"></span></a>
        }
        </Body>
    </FluentPopover>

@code {
    bool _visibleL;

    private bool open = false;
    private class ShallowFriendDto
    {
        public string Id { get; set; }
        public string Username { get; set; }
        public string Status { get; set; }

    }

    List<ShallowFriendDto> friendList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.FromResult(friendList =
        [
            new ShallowFriendDto { Id = "1", Username = "John Doe", Status = "Online" },
            new ShallowFriendDto { Id = "2", Username = "Jane Doe", Status = "Offline" },
            new ShallowFriendDto { Id = "3", Username = "John Smith", Status = "Online" },
            new ShallowFriendDto { Id = "4", Username = "Jane Smith", Status = "Offline" },
            new ShallowFriendDto { Id = "5", Username = "John Johnson", Status = "Online" },
            new ShallowFriendDto { Id = "6", Username = "Jane Johnson", Status = "Offline" },
            new ShallowFriendDto { Id = "7", Username = "John Brown", Status = "Online" },
            new ShallowFriendDto { Id = "8", Username = "Jane Brown", Status = "Offline" },
            new ShallowFriendDto { Id = "9", Username = "John White", Status = "Online" },
            new ShallowFriendDto { Id = "10", Username = "Jane White", Status = "Offline" }
        ]);
    }
}
