.friend-list-button {
    background: transparent;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.friend-list-button:hover {
    color: var(--accent-color);
}

.friend-list-popover {
    width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--card-background);
    color: var(--text-color);
}

.friend-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-small);
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.friend-item:hover {
    background-color: var(--accent-color);
}

.dot-Online {
    height: 10px;
    width: 10px;
    background-color: #009600;
    border-radius: 50%;
    display: inline-block;
}

.dot-Offline {
    height: 10px;
    width: 10px;
    background-color: #808080;
    border-radius: 50%;
    display: inline-block;
}