:root {
    /* Color Palette */
    --primary-color: var(--coffee-dark);
    --secondary-color: #8d99ae;
    --accent-color: var(--coffee-light);
    --background-color: #edf2f4;
    --background-color-dark: rgb(36, 36, 36);
    --text-color: #2c3e50;
    --card-background: #ffffff;
    --coffee-dark: #6f4e37;
    --coffee-light: #a67b5b;
    --coffee-medium: #3b2f2f;
    --glassy-background: rgba(0, 0, 0, 0.5);
    --glassy-blur: blur(10px);
    /* Typography */
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-header: 'Press Start 2P', cursive;
    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    /* Border Radius */
    --border-radius: 8px;
    /* Box Shadow */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.control {
    background-color: #2b2d42;
}

/* Typography */
body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    color: var(--primary-color);
}
h2 {
    font-size: 25px
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
}

/* Card Styles */
.card {
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

    .btn-primary:hover {
        background-color: var(--accent-color);
    }

/* Utility Classes */
.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: var(--spacing-small);
}

.mt-2 {
    margin-top: var(--spacing-medium);
}

.mt-3 {
    margin-top: var(--spacing-large);
}

.mb-1 {
    margin-bottom: var(--spacing-small);
}

.mb-2 {
    margin-bottom: var(--spacing-medium);
}

.mb-3 {
    margin-bottom: var(--spacing-large);
}

/* Flexbox Utilities */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* Grid System */
.grid {
    display: grid;
    gap: var(--spacing-medium);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.header-content {
    background: var(--glassy-background);
    backdrop-filter: var(--glassy-blur);
}
