@inherits LayoutComponentBase
@using GamingApp.Web.Components.Blocks

<div class="app-container">
    <header class="app-header">
        <HeaderComponent />
    </header>

    <div class="main-content">
        <FriendList /> 
        <main class="content-wrapper">
            <div class="card main-card">
            @Body
            </div>
        </main>
    </div>

    <footer class="app-footer">
        <FooterComponent />
    </footer>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

