@using GamingApp.Web.Components.Blocks
@inherits LayoutComponentBase

<LayoutView>
    <HeaderComponent />
    <FluentStack Orientation="Orientation.Horizontal" Width="100%"  Style="height: 100%">
        <body class="content-wrapper">
    <FriendList />
        @Body
        </body>
    </FluentStack>
    <FooterComponent />
</LayoutView>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
