<div class="@Class @LoadingClass @ErrorClass">
    <img src="@Src" alt="@Alt"/>
    



</div>





@code {

    [Parameter] public string? Src { get; set; }
    [Parameter] public string? Alt { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? LoadingClass { get; set; }
    [Parameter] public string? ErrorClass { get; set; }

}
